<p>MemSquad is devoted to assuring that the Class of 2018 has the best sophomore experience possible. Our goal is to develop a strong sense of unity, and work to create a cohesive and fully bonded class for years to come. We plan on doing so by fulfilling the following four pillars:<br/> 
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="#pillar-1" type="button" class="btn btn-default btn-lg dropdown-toggle">
                Creating Community
            </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#pillar-2" type="button" class="btn btn-default btn-lg dropdown-toggle">
                Widening Wellness
            </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="#pillar-3" type="button" class="btn btn-default btn-lg dropdown-toggle">
                Offering Opportunities
            </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="#pillar-4" type="button" class="btn btn-default btn-lg dropdown-toggle" >
                Developing Dialogue
            </a>
        </div>
    </div>
<h3 class="title"> [CWOD- try saying it outloud ;)].</h3>
</p>

<div id="pillar-1" class="pillar-spacer"></div>

<h3>Pillar 1: Creating Community</h3>
<h4 class="highlight-text">Ideas:</h3>

<ul>
    <li>
        Party at the Mausoleum
    </li>
    
    <li>
        Class organized music playlists
    </li>
    
    <li>
        Food as a priority (as much as possible to keep you all well-fed!)
    </li>
    
    <li>
        Sophomore Formal
        <ul>
            <li>
                Potential Venue: cruise around San Francisco and under the Golden Gate Bridge on a Yacht  
            </li>
        </ul>
    </li>
    
    <li>
        All class barbecues at Lake Lagunita
    </li>
    
    <li>
        Opportunities for the class to come together and escape the pressures that may accumulate throughout the year
    </li>
    
    <li>
        Funded dorm reunions
        <ul>
            <li>
                Ensuring to keep the communities that we were first introduced to at Stanford alive and well
                <ul>
                    <li>
                        Barbecues
                    </li>
                    
                    <li>
                        Beach Trips
                    </li>
                    
                    <li>
                        Dinner meetups
                    </li>
                </ul>
            </li>
        </ul>
    </li> 
</ul>

<div id="pillar-2" class="pillar-spacer"></div>

<h3 >Pillar 2: Widening Wellness</h3>
<h4 class="highlight-text">Ideas:</h3>

<ul>
    <li>
        Class of 2018 Day ~ On the 18th day of every month, we endeavor to provide an opportunity that the class of 2018 can consistently look forward to for monthly, communal “relaxation.”
        <ul>
            <li>
                Potential: 
                <ul>
                    <li>
                        Free donuts/ Coupa barista/ Other food
                    </li>
                    
                    <li>
                        More puppy visits
                    </li>
                    
                    <li>
                        Petting Zoo
                    </li>
                    
                    <li>
                        Yoga on the Oval 
                    </li>
                    
                    <li>
                        Back Massages 
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Mental Support Programs ~ As the major advertising source for the sophomore class, we want to make sure that everyone is aware of the other programs on campus that can serve as alternatives to CAPS
        <ul>
            <li>
                wellness.stanford.edu = incredible resource
            </li>
            
            <li>
                Stanford Peer Advising
            </li>
            
            <li>
                The Bridge Peer Counseling    
            </li>
        </ul>    
    </li>
</ul>

<div id="pillar-3" class="pillar-spacer"></div>

<h3>Pillar 3: Offering Opportunities</h3>
<h4 class="highlight-text">Ideas:</h3>

<ul>
    <li>
        Foster a more transparent relationship with the Haas Center for Public Service.
        <ul>
            <li>
                Work together to weave opportunities offered in our monthly newsletters 
            </li>
        </ul>
    </li>
    <li>
        Spearhead Class of 2018 centered service opportunities such as…
        <ul>
            <li>
                Class of 2018 Cares- Partner with community service organization in East Palo Alto such as 
                <ul>
                    <li>
                        Action for a Healthy Planet
                    </li>
                    
                    <li>
                        Children’s Health Council Inc.
                    </li>
                    
                    <li>
                        East Palo Kids Foundation 
                    </li>
                </ul>
            </li>
            
            <li>
                Funded tree planting in the new park to replace Meyer Library; possibly an avenue of Class of 2018 trees - it’s punny and good for the environment!
            </li>
        </ul>
    </li>
    
    <li>    
        Develop a stronger connection with the Career Development Center to ease the tension of declaring a major and looking for career advice 
        <ul>
            <li>
                Sophomore exclusive career fairs 
            </li>
            
            <li>
                Revitalize “I Declare Week” 
            </li>
        </ul>
    </li>
</ul>

<div id="pillar-4" class="pillar-spacer"></div>

<h3>Pillar 4: Developing Dialogue </h3>
<h4 class="highlight-text">Ideas:</h3>

<ul>
    <li>
        Circulate Monthly Class Newsletter that would: 
        <ul>
            <li>
                include information about events that the sophomore class is putting on
            </li>
            
            <li>
                ease access to the aforementioned opportunities
            </li>
            
            <li>
                be a springboard for other things like mental health opportunities other than CAPS
            </li>
        </ul>
    </li>
    
    <li>
        A Sophomore Class President email account
        <ul>
            Offers the opportunity for all students to communicate their suggestions and fears to the current sophomore class presidents
        </ul>
    </li>
    
    <li>
        <b>2018Connect </b> - a potential app idea where sophomores receive push notifications or reminders about what is going on on campus in general but also related specifically to our class
        <ul>
            <li>
                This is an app that can last all four years and can be passed from class presidents of the current year to the next year’s class presidents
            </li>
        </ul>
    </li>
</ul>

<div class="pillar-spacer"></div>

<p>
    We have so much heart and so much to offer you all. We truly are passionate about what we do and are ecstatic to have the opportunity to represent our class.Thank you so much for your consideration. 
    <br/><br/>
    Much love, 
    <br/>
    <b>Ibrahim, Jack, Madilyn, and Rachel</b> 
</p>

