<div class="header-spacer"></div>
<h3 class="title">Learn about our Platform</h3>
<div class="container">
    <%= render(:partial => "platform_detail") %> 
</div>
<div class="darker-background-platform spacer">
    <a class="fancybox" rel="group" href="<%= asset_path('team-1.jpg') %>">
        <img src="<%= asset_path('team-1.jpg') %>" alt="" class="platform-image animate fadeIn" />
    </a>
</div>