<div class="header-spacer"></div>
<h3 class="title">Learn about our Platform</h3>
<div class="container">
    <p>
Our goal is to develop a strong sense of community, and work to create a cohesive and fully bonded class for years to come. We have lots of ideas that we want to implement next year! Giving back to a community that we are so lucky to be a part of is a huge priority, so our goal is to develop a more clear and transparent conversation with the Haas Center for Public Service - making sure that opportunities are easily available to you all. Though we undoubtedly live on a campus paradise, it is sometimes hard to deal with the stresses and pressures of school. We want to provide as many resources as we can to wholly increase the mental well being of our class...whether that be from monthly destressors (think puppies, think back massages) or regularly scheduled morale boosts. Of course, we will also have a plethora of social events to improve upon next year, including the annual Mausoleum party, a Sophomore Formal, and BBQS at Lag. 
<br/><br/>
We have so much heart and so much to offer you all. We truly love what we do and are ecstatic to have the opportunity to represent our class. 
    </p>
</div>
<div class="platform-image animate fadeIn"></div>