<div class="header-spacer"></div>
<h3 class="title">Meet our Team</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="profile-card">
                <div class="row">
                <div class="col-lg-3 col-md-3 center">
                    <div class="profile-image-long" id="madilyn"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <p class="bio">
                        <%= render(:partial => "madilyn") %>
                    </p>
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="profile-card">
                <div class="row">
                <div class="col-lg-3 col-md-3 center">
                    <div class="profile-image-long" id="jack"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <p class="bio">
                        <%= render(:partial => "jack") %>
                    </p>
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="profile-card">
                <div class="row">
                <div class="col-lg-3 col-md-3 center">
                    <div class="profile-image-long" id="ibby"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <p class="bio">
                        <%= render(:partial => "ibby") %>
                    </p>
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="profile-card">
                <div class="row">
                <div class="col-lg-3 col-md-3 center">
                    <div class="profile-image-long" id="rachel"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <p class="bio">
                        <%= render(:partial => "rachel") %>
                    </p>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>