<div class="header-spacer"></div>
<h3 class="title">Meet our Team</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="profile-card">
                <h3 class="profile-name">Madilyn Ontiveros</h3>
                <%= image_tag "madilyn.png", alt: "Profile Image",  class: "profile-image" %>
                <p class="bio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis lacus et est rhoncus gravida. Etiam porta orci quam, eget malesuada ex pharetra ac. Donec lacinia mi id sapien ultrices varius. Vivamus semper volutpat mi, non laoreet felis ultricies at. Nullam sollicitudin, neque sit amet egestas mattis, libero purus ultricies libero, eget egestas lectus tortor pulvinar tellus. Suspendisse sollicitudin viverra rutrum. Phasellus malesuada tincidunt lacus, nec efficitur sem commodo vitae. Proin eu magna volutpat massa scelerisque placerat.
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="profile-card">
                <h3 class="profile-name">Ibrahim Bharmal</h3>
                <%= image_tag "ibby.png", alt: "Profile Image",  class: "profile-image" %>
                <p class="bio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis lacus et est rhoncus gravida. Etiam porta orci quam, eget malesuada ex pharetra ac. Donec lacinia mi id sapien ultrices varius. Vivamus semper volutpat mi, non laoreet felis ultricies at. Nullam sollicitudin, neque sit amet egestas mattis, libero purus ultricies libero, eget egestas lectus tortor pulvinar tellus. Suspendisse sollicitudin viverra rutrum. Phasellus malesuada tincidunt lacus, nec efficitur sem commodo vitae. Proin eu magna volutpat massa scelerisque placerat.
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="profile-card">
                <h3 class="profile-name">Rachel Morrow</h3>
                <%= image_tag "rachel.png", alt: "Profile Image",  class: "profile-image" %>
                <p class="bio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis lacus et est rhoncus gravida. Etiam porta orci quam, eget malesuada ex pharetra ac. Donec lacinia mi id sapien ultrices varius. Vivamus semper volutpat mi, non laoreet felis ultricies at. Nullam sollicitudin, neque sit amet egestas mattis, libero purus ultricies libero, eget egestas lectus tortor pulvinar tellus. Suspendisse sollicitudin viverra rutrum. Phasellus malesuada tincidunt lacus, nec efficitur sem commodo vitae. Proin eu magna volutpat massa scelerisque placerat.
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="profile-card">
                <h3 class="profile-name">Jack Seaton</h3>
                <%= image_tag "jack.png", alt: "Profile Image",  class: "profile-image" %>
                <p class="bio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis lacus et est rhoncus gravida. Etiam porta orci quam, eget malesuada ex pharetra ac. Donec lacinia mi id sapien ultrices varius. Vivamus semper volutpat mi, non laoreet felis ultricies at. Nullam sollicitudin, neque sit amet egestas mattis, libero purus ultricies libero, eget egestas lectus tortor pulvinar tellus. Suspendisse sollicitudin viverra rutrum. Phasellus malesuada tincidunt lacus, nec efficitur sem commodo vitae. Proin eu magna volutpat massa scelerisque placerat.
                </p>
            </div>
        </div>
    </div>
</div>