// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font: Open Sans !important;
$secondary-font: 'PT Sans', sans-serif !important;
$primary-body-color: #333 !important;
$secondary-body-color: #525252 !important;
$highlight-font-color: #37cecc !important;
$highlight-color-non-important: #37cecc;
$primary-background-color: #fbfbfb !important;
$primary-background-color-non-important: #fbfbfb;
$base-font-size: 12px;
$large-font-size: 2.1em;
$header-height: 40px;
$header-number: 40;
$logo-height: 76px;
$logo-height-half: -38px;
$logo-width: 70px;
$important-z-index: 1000;
$max-separator-width: 600px;

body, html {
    font-size: $base-font-size;
    font-family: $primary-font;
    color: $primary-body-color;
    background-color: $primary-background-color;
}

.container {
    padding: 0px 50px !important;
}

.navbar {
    background-color: $primary-background-color;
    opacity: .85;
    min-height: $header-height !important;
    position: relative;
    border-bottom: 1px solid $highlight-font-color;
}

.nav {
    width: 100%;
}

.logo {
    width: $logo-width;
    height: $logo-height;
    position: absolute;
    margin: 0px auto;
    top: 1px;
    left: 50%;
    margin-left: $logo-height-half;
    display: block;
    background-image: url(asset_path('logo-blue-small-v2.png'));
    background-size: cover;
}

.logo-clickable {
    margin: 9px auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $header-height * (2/3);
}

.logo-clickable:hover {
    cursor: pointer;
}

a {
    outline: inherit !important;
    color: $primary-body-color;
}

.menu-tab > a:focus, .menu-tab > a:hover {
    background-color: $primary-background-color;
    border-bottom: 2px solid $highlight-color-non-important;
}

.menu-tab-logo {
    width: 33.33%;
}

.menu-tab {
    width: 33.33%;
    margin: 9px auto;
}

.menu-tab > a {
    max-width: $logo-width*2;
    text-align: center;
    padding: 4px !important;
    height: $header-height * (2/3);
    border-bottom: 2px solid $primary-background-color-non-important;
}

.menu-tab-left > a {
    margin: 0px 0px 0px auto;
}

.menu-tab-right > a {
    margin: 0px auto 0px 0px;
}

.main-image {
    display: block;
    width: 100%;
    height: 500px;
    margin-top: -75px;
    background-image: url(asset_path('team-test.jpg'));
    background-size: cover;
    border: 1px solid $primary-body-color;
}

@media(max-width: 900px) {
    .main-image {
        height: 450px;
        margin-top: 0px;
        background-image: url(asset_path('team-2.jpg'));
    }
}

@media(max-width: 600px) {
    .main-image {
        background-image: url(asset_path('team-2-mobile.jpg'));
    }
}

.platform-image {
    @extend .main-image;
    background-image: url(asset_path('team-3.jpg'));
    margin-top: 0px;
    height: 600px;
}

span.icon-bar {
    background-color: $highlight-font-color;
}

.hidden-logo {
    display: none;
    position: absolute;
    top: 0px;
    margin: 15px;
    color: $primary-body-color;
}

@media(max-width: 767px) {
    .logo {
        display: none;
    }
    
    .navbar-nav {
        margin: 0px !important;    
    }
    
    .navbar {
        opacity: .95;
        border-bottom: 1px solid $highlight-font-color;     
    }
    
    .navbar-collapse {
        border-top: 1px solid $secondary-body-color;      
    }
    
    .navbar-collapse.in {
        overflow-y: inherit !important;    
    }
    
    .menu-tab {
        width: 100%;    
    }
    
    .menu-tab-right > a {
        margin: auto !important;    
    }
    
    .menu-tab-left > a {
        margin: auto !important;    
    }
    
    .hidden-logo {
        display: block;    
    }
    
    .hidden-logo:hover {
        cursor: pointer;
    }
    
    .header-spacer {
        border: 0px !important;
    }
    
    .logo-clickable {
        height: 1px !important;    
    }
}

.title {
    color: $highlight-font-color;
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid $primary-body-color;
    margin: 10px auto;
    display: block;
}

.center {
    position: relative;
    transform: translateY(25%);
    -moz-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
}

@media(max-width: 1000px) {
    .center {
        transform: none;    
    }
    
    .profile-image-long {
        background-position-y: -150px;    
    }
}

@media(max-width: 670px) {
    .profile-image-long {
        background-position-y: -50px;    
    }
}

@media(max-width: 400px) {
    
    .profile-image-long {
        background-position-y: 0px;    
    }
    
    .container {
        padding: 0px 15px !important;
    }
}

.profile-image-long {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 20px;
    margin: 10px auto;
}

#madilyn {
    background-image: url(asset_path("madilyn-quad.jpg"));
}

#ibby {
    background-image: url(asset_path("ibby-quad.jpg"));
}

#jack {
    background-image: url(asset_path("jack-quad.jpg"));
}

#rachel {
    background-image: url(asset_path("rachel-quad.jpg"));
}

.profile-name {
    text-align: center;
    color: $secondary-body-color;
    font-family: $secondary-font;
}

p {
    line-height: $large-font-size;
    font-family: $secondary-font;
}

.btn {
    outline: inherit !important;
    display: block !important;
    margin: 10px auto !important;
}

.header-spacer {
    padding-top: $header-height * 1.5;
}

.profile-card {
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid $secondary-body-color;
}